body {
  background-color: #f0dfff;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

input {
  height: 25px;
  margin-bottom: 8px;
  width: 402px; 
}

textarea {
  height: 70px;
  width: 400px; 
}

greeting-button {
  background-color: #ad7ad6;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 20px;
  padding: 15px;
  text-align: center;
}

#greeting-container {
  color: black;
  font-size: 25px;
  margin-bottom: 50px;
  margin-top: 40px;
}

#data-holder {
  color: black;
  font-size: 25px;
  margin-bottom: 50px;
  margin-top: 40px;
}

button {
  background-color: #ad7ad6;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: center;
}

#comments-container {
  border-color: black;
  border-radius: 1px;
  color: black;
  font-size: 20px;
  margin-bottom: 60px;
  padding: 10px;
}

li {
  background-color: white;
  padding: 10px;
}

input:hover {
  opacity: 0.7;
}

hr {
  border-top: 4px dotted black;
  margin-top: 40px;
}

h1 {
  font-family: cursive;
  margin-bottom: 50px;
}

h2,
h3 {
  font-family: cursive;
}

.gallery {
  border: 3px solid white;
  float: left;
  height: 180px;
  margin: 12px;
  width: 200px;
}

div.gallery img {
  height: 75%;
  width: 100%;
}

div.desc {
  background-color: white;
  font-family: cursive;
  font-size: 14px;
  margin-top: -4px;
  padding: 13px;
  text-align: center;
  width: 177px;
}

media-title {
  font-family: cursive;
  margin-top: 10px;
} 

.fa {
  border-radius: 50%;
  font-size: 30px;
  margin-bottom: 50px;
  margin-right: 12px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 15px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #e261c2;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}