body {
  background-color: #f0dfff;
}

#home-content {
  margin-left: 380px;
  margin-right: 350px;
  margin-top: 150px;
}

#content {
  margin: auto;
  max-width: 700px;
}

h1 {
  font-family: cursive;
  font-size: 60px;
}

h2,
h3 {
  font-family: cursive;
  text-align: center;
}

hr {
  border-top: 4px dotted black;
  margin-top: 40px;
}

button {
  background-color: #ad7ad6;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: center;
}

input {
  height: 25px;
  margin-bottom: 8px;
  width: 402px; 
}

input:hover {
  opacity: 0.7;
}

textarea {
  height: 70px;
  width: 400px; 
}

textarea:hover {
  opacity: 0.7;
}

greeting-button {
  background-color: #f0dfff;
  border: 2px solid #ad7ad6;
  color: black;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 100px;
  padding: 15px;
}

greeting-button:hover {
  background-color: #ad7ad6;
  color: white;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 100px;
  padding: 15px;
}

#greeting-container {
  color: black;
  font-size: 25px;
  margin-bottom: 50px;
  margin-top: 40px;
}

.profile-photo {
  border: 3px solid white;
  float: left;
  height: 250px;
  margin: 12px;
  width: 250px;
}

div.profile-photo img {
  height: 100%;
  width: 100%;
}

#profile-photo {
  width: 200px;
  height: 200px;
}

#data-holder {
  color: black;
  font-size: 25px;
  margin-bottom: 50px;
  margin-top: 40px;
}

#comments-container {
  border-color: black;
  border-radius: 1px;
  color: black;
  font-size: 20px;
  margin-bottom: 60px;
  padding: 10px;
}

.gallery {
  border: 3px solid white;
  float: left;
  height: 180px;
  margin: 12px;
  width: 200px;
}

div.gallery img {
  height: 75%;
  width: 100%;
}

div.desc {
  background-color: white;
  font-family: cursive;
  font-size: 14px;
  margin-top: -4px;
  padding: 13px;
  text-align: center;
  width: 177px;
}

#map {
  border: 2px solid white;
  height: 350px;
  margin-bottom: 50px;
  margin-left: 150px;
  margin-top: 30px;
  width: 400px;
}

.fa {
  border-radius: 50%;
  font-size: 30px;
  margin-bottom: 50px;
  margin-right: 12px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 15px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #e261c2;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

ul {
  background-color: #ad7ad6;
  height: 50px;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

li {
  float: left;
}

li a {
  color: white;
  display: block;
  font-size: 18px;
  margin-left: 20px;
  padding-bottom:12px;
  padding-right: 15px;
  padding-top: 15px;
  text-decoration:  none;
}

li a:hover {
  opacity: 0.7;
}

a {
  color: black;
  font-size: 30px;
  margin-right: 25px;
  text-align: center;
  text-decoration: underline;
}

#form-div {
  margin-left: 560px;
  width: 400px;
}

#contact-media {
  margin-left: 180px;
}